[user]
	name = Alexander Luberg
	email = alex@luberg.me

[core]
    pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark-mode || echo light-mode)"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[delta "light-mode"]
   light = true
   syntax-theme = "gruvbox-light"

[delta "dark-mode"]
   dark = true
   syntax-theme = "gruvbox-dark"
